<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="../js/vue.js"></script>
    <title>v-for</title>
</head>
<body>
<h1>v-for:解决模板循环问题</h1>
<hr>
<div id="app">
    <span>遍历对象</span>
    <ul>
        <li v-for="(student,  index) in students">{{index+1}}----姓名：{{student.name}}--年龄：{{student.age}}</li>
    </ul>
    <hr>
    <span>遍历九九乘法表</span>
    <div v-for="n in 9">
        <b v-for="m in n">
            {{m}}*{{n}}={{m*n}}
        </b>
    </div>
    <br>
    <span>遍历排序</span>
    <p><span>排序前</span>
    <ul>
        <li v-for="n in number">{{n}}</li>
    </ul>
    </p>
    <p><span>排序后</span>
    <ul>
        <li v-for="num in sortNums">{{num}}</li>
    </ul>
    </p>
</div>

<script type="text/javascript">
    var app=new Vue({
        el:'#app',
        data:{
            students: [
                {name : '张三', age : 16},
                {name : '李四', age : 12},
                {name : '王五', age : 18}],
            nums: [12,6,58,23,25,11],
            number: [12,6,58,23,25,11]

        },
        computed:{
            sortNums: function(){
                return this.nums.sort(sortNumber);
            }
        }
    });

    function sortNumber(a,b) {
        return a-b;
    }

</script>
</body>
</html>
